/* Reset básico */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background: #F5F5F5;
}

img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
}

input, button, textarea, select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: currentColor;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ol, ul {
  list-style: none;
}

:not([class]) h1,
:not([class]) h2,
:not([class]) h3,
:not([class]) h4,
:not([class]) h5,
:not([class]) h6 {
  margin-block: 0.75em;
  line-height: 1.25;
  text-wrap: balance;
  letter-spacing: -0.05ch;
}

:not([class]) p,
:not([class]) ol,
:not([class]) ul {
  margin-block: 1em;
}

:not([class]) ol,
:not([class]) ul {
  padding-inline-start: 1.5em;
  list-style: revert;
}

:not([class]) li {
  margin-block: 0.5em;
}
